<div class="pt-4">
    @if (table$ | async; as table) {

<!--      <div class="overflow-x-scroll">-->
<!--        <table class="table-auto w-full min-w-[400px]">-->
<!--          <thead>-->
<!--          <tr>-->
<!--            @for (c of table.columns; track c) {-->
<!--              <th class="border px-4 py-2">{{ c }}</th>-->
<!--            }-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--            @for (row of table.data; track row['id']) {-->
<!--              <tr>-->
<!--                @for (c of table.columns; track c) {-->
<!--                  <td class="border px-2 py-2">{{ row[c] || 'NULL' }}</td>-->
<!--                }-->
<!--              </tr>-->
<!--            } @empty {-->
<!--              <tr>-->
<!--                <td class="border px-4 py-2" >0 Resultados encontrados</td>-->
<!--              </tr>-->
<!--            }-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
    <div class="overflow-x-scroll">
        <hlm-table [contentEditable]="false" class="w-full min-w-[400px]">
            <hlm-trow>
                @for (c of table.columns; track c) {
                <hlm-th class="w-60 border">{{ c }}</hlm-th>
                }
            </hlm-trow>
            @for (row of table.data; track row['id']) {
            <hlm-trow>
                @for (c of table.columns; track c) {
                <hlm-td  class="w-60 border overflow-hidden">{{ row[c] || 'NULL' }}</hlm-td>
                }
            </hlm-trow>
            } @empty {
            <div class="text-center p-10">
                <hlm-icon size="lg" name="lucideFolderSearch" />
                <p class="p-4 w-full text-center">0 Resultados encontrados</p>
            </div>
            }

             <div class="mt-4 p-4">
                <nav hlmPagination>
                    <ul hlmPaginationContent>
                        <li class="cursor-pointer" hlmPaginationItem (click)="previousPage()">
                            <hlm-pagination-previous />
                        </li>
                        <!-- <li hlmPaginationItem>
                                <a hlmPaginationLink link="#">1</a>
                            </li>
                            <li hlmPaginationItem>
                                <a hlmPaginationLink link="#" isActive>2</a>
                            </li>
                            <li hlmPaginationItem>
                                <a hlmPaginationLink link="#">3</a>
                            </li>
                            <li hlmPaginationItem>
                                <hlm-pagination-ellipsis />
                            </li> -->
                        <li class="cursor-pointer" hlmPaginationItem (click)="nextPage()">
                            <hlm-pagination-next />
                        </li>
                    </ul>
                </nav>
            </div>

        </hlm-table>
    </div>
    }
</div>
