<h2>
  {{ selectedTable }}
</h2>
<p>
  Pagina {{ searchService.getPage() }},
  Item por página {{ searchService.getPageSize() }},
  Total de itens {{ searchService.getTotalData() }}
</p>
<br>
<clr-tabs>
  <clr-tab>
    <button clrTabLink>Dados</button>
    <clr-tab-content *clrIfActive>
      @if (table$ | async; as table) {
      <clr-datagrid [(clrDgSelected)]="selectedRows">
        <clr-dg-action-bar [ngStyle]="{ display: 'flex' , 'align-items' : 'center', gap: '10px' }">
          <div class="btn-group">
            <button type="button" class="btn btn-sm btn-secondary" (click)="onAdd()">
              <cds-icon shape="plus"></cds-icon>
              Add ao grupo
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onDelete()">
              <cds-icon shape="close"></cds-icon>
              Deletar
            </button>
            <button type="button" class="btn btn-sm btn-secondary" (click)="onEdit()" *ngIf="selectedRows.length == 1">
              <cds-icon shape="pencil"></cds-icon>
              Editar
            </button>
          </div>

          <clr-dropdown>
            <button type="button" class="btn btn-sm btn-secondary" clrDropdownTrigger>
              Exportar
              <cds-icon shape="angle" direction="down"></cds-icon>
            </button>
            <clr-dropdown-menu clrPosition="bottom-left" *clrIfOpen>
              <button type="button" (click)="onExportAll()" clrDropdownItem>Exportar tudo</button>
              <button type="button" (click)="onExportSelected()" [disabled]="selectedRows.length === 0" clrDropdownItem>
                Exportar selecionados
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>

          <button type="button" class="btn btn-sm btn-secondary" (click)="onRefresh()">
            <cds-icon shape="refresh"></cds-icon>
            Atualizar
          </button>
        </clr-dg-action-bar>


        @for(column of table.columns; track column) {
        <clr-dg-column [clrDgField]="column">
          <ng-container *clrDgHideableColumn="{ hidden: false }">{{ column }}</ng-container>
          <clr-dg-filter [clrDgFilter]="myFilter">
            <h5 for="title-filter">Filtro por "{{ column }}"</h5>
            <form clrForm>
              <clr-datalist-container>
                <label for="operator" class="clr-control-label">Operador</label>
                <input placeholder="Operador" minlength="4" name="Selecione" required clrDatalistInput
                  [disabled]="false" />
                <datalist>
                  <option *ngFor="let item of conditionOperatorList" [value]="item.value">
                    {{ item.label }}
                  </option>
                </datalist>
              </clr-datalist-container>
            </form>
            <form class="clr-form">
              <div class="clr-form-control">
                <label for="basic" class="clr-control-label">Valor</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input type="text" id="basic" placeholder="Pesquisar" class="clr-input" />
                    <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
                  </div>
                </div>
              </div>
            </form>
          </clr-dg-filter>
        </clr-dg-column>
        }

        <clr-dg-row *clrDgItems="let row of table.data" [clrDgItem]="row">
          @for(column of table.columns; track column) {
          <clr-dg-cell>{{ row[column] || 'NULL' }}</clr-dg-cell>
          }
        </clr-dg-row>

        <clr-dg-footer>
          <clr-dg-pagination (clrDgPageChange)="onPageChange($event)" #pagination [clrDgTotalItems]="table.totalData"
            [clrDgPage]="table.page" [clrDgPageSize]="table.size">
            <clr-dg-page-size [clrPageSizeOptions]="[10, 20, 50, 100]">Dados por página</clr-dg-page-size>
            {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} of {{ pagination.totalItems }} dados
          </clr-dg-pagination>
        </clr-dg-footer>
      </clr-datagrid>
      }
    </clr-tab-content>
  </clr-tab>
  <clr-tab>
    <button clrTabLink>Filtros</button>
    <clr-tab-content *clrIfActive>
      <form class="clr-form">
        <div class="clr-form-control">
          <label for="example" class="clr-control-label">Label</label>
          <div class="clr-control-container clr-error">
            <div class="clr-input-wrapper">
              <input type="text" id="example" placeholder="Example Input" class="clr-input" />
              <cds-icon class="clr-validate-icon" shape="exclamation-circle"></cds-icon>
            </div>
            <span class="clr-subtext">Error message</span>
          </div>
        </div>
      </form>
    </clr-tab-content>
  </clr-tab>

</clr-tabs>