@if (tables$ | async; as tables) {
<div class="clr-row">
  @for (table of tables; track table.tableName) {
  <div class="clr-col-lg-4 clr-col-md-4 clr-col-12">
    <div class="card">
      <div class="card-header">
        <cds-icon shape="table"></cds-icon>
        {{ table.tableName }}
      </div>
      <div class="card-block">
        <div class="card-text">
          Esta tabela tem {{ table.columns.length || '(-)' }} colunas
        </div>
      </div>
      <div class="card-footer">
        <a class="btn btn-sm btn-link" (click)="goToTable(table)">Entrar</a>
      </div>
    </div>
  </div>
  }
</div>
}